<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-static/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <title>WineLovers</title>
    <link rel="shortcut icon" href="https://img.pixers.pics/pho_wat(s3:700/FO/58/19/15/32/700_FO58191532_419f0e8868f635c0fe5a9a9262551231.jpg,467,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,247,650,jpg)/wall-murals-wine-bottle-pouring-to-wine-glass.jpg.jpg" />
</head>
<body>

    <div class="navbar">
        <a  href="/home"><i class="fa fa-fw fa-home"></i> Home</a> 
        <a href="/wines/1"><i class="fas fa-wine-bottle"></i> Wines</a> 
        <a class="active"  href="/profile/{{results._id}}"><i class="fas fa-user-alt"></i> Profile</a> 
        <a href="/cart"><i class="fas fa-shopping-cart"></i> Cart</a> 
        <a href="/history"><i class="fas fa-info-circle"></i> History</a> 
        <a href="/addWine"><i class="fas fa-plus-circle"></i> Add Wine</a>
        <a href="/statistic"><i class="	fas fa-poll"></i> Statistic</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>

    <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        
        <span class="fs-4">WineLovers Website</span>
      </a>
    </header>
    </div>
     
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
           {{#if results.isMale}}
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{results.Name}}</span><span class="text-black-50">{{results.Email}}</span><span> </span></div>
            {{else}}
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNBSq3Ijqf7bxwcZxjzcgKm_RYhCWWhK7QTQ&usqp=CAU"><span class="font-weight-bold">{{results.Name}}</span><span class="text-black-50">{{results.Email}}</span><span> </span></div>
            {{/if}}
        </div>
        <div class="col-md-5 border-right">

            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Details</h4>
                </div>
                
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><h1 class="form-control" >{{results.Name}}</h1></div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><h1 class="form-control" >{{results.Mobile}}</h1></div>
                    <div class="col-md-12"><label class="labels">Address</label><h1 class="form-control" >{{results.Address}}</h1></div>
                
                    <div class="col-md-12"><label class="labels">Birthday</label><h1 class="form-control" >{{results.Birthday}}</h1></div>
                    <div class="col-md-12"><label class="labels">Gender</label><h1 class="form-control" >{{results.Gender}}</h1></div>
             
                </div>            
            </div>
        </div>



        <div class="col-md-4">
            <div class="p-3 py-5">

                <form action="/auth/editProfile" method="POST" >

                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Profile</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="newName" placeholder="new Name.." value="{{results.Name}}" required></div>
                    <div class="col-md-6"><label class="labels">Mobile</label><input type="text" class="form-control" name="newMobile" value="{{results.Mobile}}" placeholder="new mobile.." required ></div>
                </div>
                
                <div class="col-md-6"><label class="labels">Address</label><input type="text" class="form-control" name="newAddress" placeholder="new address.." value="{{results.Address}}"  required ></div>

                <div class="col-md-6"><input type="text" class="form-control" name="userId"  value={{results._id}} hidden ></div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>

                </form>
                <br><br><br><br>
                <div class="d-flex justify-content-between align-items-center experience"><span>Settings</span> <a href="/changePassword"><span class="border px-3 p-1 add-experience">Change Password</span></a>   </div><br>


            </div>
        </div>
    </div>
</div>
</div>
</div>

<footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021 WineLovers Copy rights
  </footer>




</body>
</html>

<script>
    console.log("This is a test")
    console.log(`${{results._id}}`)
</script>